@media (max-width: 500px) {
    .brand-name img{
        width: 120px !important;
    }
    .btn-content {
        padding: 10px 20px;
        font-size: 16px;
    }
    .nav-content{
        width: 100% !important;
    }
    .products .box .flex-data h4{
        font-size: 15px !important;
    }
    .sort-data .sort-content li .dropdown-menu{
     transform: translateY(100px) translateX(-50px)  !important
    }
    .sort-data .sort-content li .dropdown-menu.show{
        transform: translateY(70px) translateX(-50px) !important
    }
    .sort-data .sort-content li.car .dropdown-menu{
        transform: translateY(100px) translateX(-130px)  !important
    }
    .sort-data .sort-content li.car .dropdown-menu.show{
        
        transform: translateY(60px) translateX(-130px) !important
    }
    .sort-data .sort-content li.car .dropdown-menu{
        width: 250px !important;
    }
}