@import 'global';
@import 'animations';
.form-content{
    .form-group{
        width: 100%;
    }
    .input-group{
        position: relative;
        height: 50px;
        background-color: #fff;
        border: 1px solid #02a7ea;
        border-radius: 6px;
        overflow: hidden;
        .input-group-prepend{
            border: none;
            padding: 0px 0px;
            height: 100%;
            background-color: transparent;
            border-radius: 0px;
            .input-group-text{
                padding: 0px 20px;
                background-color: transparent;
                height: 100%;
                border: none;
                border-radius: 0px;
                img{
                    width: 25px;
                    height: 25px;
                    object-fit: contain;
                    filter: invert(66%) sepia(98%) saturate(3919%) hue-rotate(163deg) brightness(93%) contrast(101%);
                }
            }
        }
        .form-control{
            border: 0px !important;
            background-color: transparent !important;
            height: 100%;
            color: #000;
            font-size: 15px;
            font-weight: 500;
            appearance: none;
            -webkit-appearance: none;
            &::placeholder{
                color: #283a5e;
                font-size: 15px;
                font-weight: 500;
            }
        }
        &.select{
            position: relative;
            &::after{
                content: '\f078';
                position: absolute;
                width: 50px;
                height: 50px;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                pointer-events: none;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: #02a7ea;
                font-size: 20px;
            }
        }
    }
    .from-check{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        margin-left: 10px;
        text-align: center;
        input[type="file"]{
            display: none;
        }
        input[type="checkbox"] , input[type="radio"] , input[type="file"]{
            appearance: none;
            -webkit-appearance: none;
            &:checked{
                &::after{
                    transform: scaleX(1);
                }
                &+span{
                    color: #fff;
                }
            }
        }
        .size-lable{
            min-width: 120px;
            height: 50px;
            padding: 0px 20px;
            display: flex;
            align-items: center;
            align-content: center;
            border: 1px solid #02a7ea;
            position: relative;
            margin: 10px 0px;
            justify-content: center;
            border-radius: 5px;
            z-index: 99;
            span{
                color: #02a7ea;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .size-check{
            min-width: 120px;
            height: 50px;
            border-radius: 5px;
            padding: 0px 20px;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #02a7ea;
                top: 0;
                left: 0;
                border-radius: 4px;
                z-index: -1;
                transform: scaleX(0);
                transition: all .4s linear;
            }
        }
    }
    // .from-check{
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     width: fit-content;
    //     margin-left: 10px;
    //     text-align: center;
    //     margin-top: 10px;
    //     input[type="checkbox"] , input[type="radio"] , input[type="file"] {
    //         appearance: none !important;
    //         display: none;
    //         -webkit-appearance: none !important; 
    //         &:checked{
    //             &::After{
    //                 transform: scale(1);
    //             }
    //             &+span{
    //                 color: #fff !important;
    //             }
    //         }
    //     }
    //     .size-lable{
    //         width: fit-content;
    //         height: fit-content;
    //         padding: 10px 20px;
    //         display: flex;
    //         align-items: center;
    //         align-content: center;
    //         border: 1px solid #02a7ea;
    //         position: relative;
    //         margin: 0px;
    //         justify-content: center;
    //         border-radius: 5px;
    //         z-index: 99;
           
    //         span{
    //             color: #02a7ea;
    //             font-size: 16px;
    //             font-weight: 500;
    //         }
    //     }
    //     .size-check{
    //         width: 100%;
    //         height: 100%;
    //         min-width: 120px;
    //         min-height: 50px;
    //         border-radius: 5px;
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         cursor: pointer;
    //         &::after{
    //             content: '';
    //             position: absolute;
    //             width: 100%;
    //             height: 100%;
    //             background-color: #02a7ea;
    //             top: 0;
    //             left: 0;
    //             border-radius: 4px;
    //             z-index: 0;
    //             transform: scaleX(0);
    //             transition: all .4s linear;
    //         }
    //     }
    // }
    select{
        option{
            color: #283a5e;
            font-size: 13px;
            font-weight: 500;
        }
    }
    .password{
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 99;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        i{
            color: #02a7ea;
        }
    }
    .title{
        color: #283a5e;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}
.form-data{
    width: 100%;
    padding: 0px 0px 0px 0px;
    background-color: #f7f7f7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    &.sign-up{
        padding: 100px 0px;
    }
    .form-content{
        width: 100%;
        padding: 20px 20px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 3px 6px rgba($color: #283a5e , $alpha: .10);
        .content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .brand-name{
                img{
                    width: 200px;
                    height: 60px;
                    object-fit: contain;
                    object-position: center;
                    margin: auto;
                }
            }
            h4{
                font-size: 20px;
                font-weight: 700;
                color: #283a5e;
                line-height: 2rem;
                margin: 10px 0px 0px 0px;
            }
        }
        .btn-contain{
            flex-direction: column;
        }
        .link{
            margin-top: 20px;
            color: #283a5e;
            font-size: 15px;
            font-weight: 500;
            span{
                color: #02a7ea;
                margin-right: 10px;
            }
        }
    }
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0px 4px 6px rgba($color: #283a5e , $alpha: .10);
    .hamburger{
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        .line{
            width: 50px;
            height: 3px;
            background-color: #02a7ea;
            display: block;
            margin: 8px auto;
            transition: all 0.3s ease-in-out;
        }
        &.active{
            animation: smallbig 0.6s forwards;
           
            .line{
                &:nth-child(1), &:nth-child(2), &:nth-child(3){
                    transition-delay: 0.2s;
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(1){
                    transform: translateY(16px) rotate(45deg);
                }
                &:nth-child(3){
                    transform: translateY(-5px) rotate(-45deg);
                }
            }
        }
    }
    img{
        width: 200px;
        height: 70px;
        object-fit: contain;
        object-position: center;
    }
    .content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .nav-content{
            width: 30%;
            height: 100vh;
            position: absolute;
            top: 70px;
            left: -100%;
            transition: all .4s linear;
            z-index: 99;
            background-color: #fff;
            box-shadow: 0px 4px 6px rgba($color: #283a5e , $alpha: .10);
            li{
                width: 100%;
                margin: 20px 0px;
                .link{
                    padding: 20px 10px;
                    width: 100%;
                    border-bottom: 1px solid #a4abc5;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-content: center;
                    .title{
                        color: #000000;
                        font-size: 20px;
                        font-weight: 700;
                    }
                    .data{
                        color: #02a7ea;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
                .btn-content{
                    margin: auto;
                }
            }
        }
    }
}
.heading{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    h4{
        color: #02a7ea;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0px;
    }
}
.active-nav{
    left: 0% !important;
}
.cards-contnet{
    width: 100%;
    padding: 0px 0px;
    background-color: #fff;
    .owl-cards{
        .owl-stage-outer{
            padding: 50px 0px;
        }
        .item{
            transition: all .4s linear;
            position: relative;
            width: 100%;
            height: 200px;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 0%;
                background-color: rgba($color: #02a7ea , $alpha: .5);
                transition: all .4s linear;
                top: 0;
                left: 0;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            &:hover{
                transform: translateY(-10px);
                &::after{
                    height: 100%;
                }
            }
        }
    }
}
.bottom-nav{
    width: 90%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba($color: #283a5e , $alpha: .15);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-radius: 50px 50px 0px 0px;
    z-index: 9999 !important;
    .bottom-nav-item{
        .bottom-nav-link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            padding: 10px 0px;
            i , span{
                color: #a4abc5;
                font-size: 16px;
            }
            span{
                margin-top: 5px;
                font-weight: 500;
            }
            &.active , &:hover{
                i , span{
                    color: #02a7ea;
                }
            }
        }
    }
}
.tower{
    width: 100%;
    padding: 100px 0px;
    background-color: #fff;
    .heading{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        h4{
            color: #02a7ea;
            font-size: 20px;
            font-weight: 700;
            line-height: 2.5rem;
            margin: 0px;
        }
    }
    .nav-tabs{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        align-content: center;
        margin-bottom: 50px !important;
        &.flex-shape{
            .nav-item{
                .nav-link{
                    width: fit-content !important;
                    height: fit-content !important;
                    padding: 20px 15px;
                    flex-direction: row !important;
                    i{
                        margin: 0px 0px 0px 10px;
                    }
                }
            }
        }
        .nav-item{
            margin: 0px 10px;
            &:first-child{
                margin-right: 0px;
            }
            &:last-child{
                margin-left: 0px;
            }
            .nav-link{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                border: 1px solid #02a7ea;
                width: 100px;
                height: 100px;
                border-radius: 10px;
                i{
                    font-size: 20px;
                    color: #02a7ea;
                    margin-bottom: 5px;
                }
                span{
                    color: #02a7ea;
                    font-size: 20px;
                    font-weight: 500;
                }
                &.active , &:hover{
                    background-color: #02a7ea;
                    i{
                        animation: bounce-in-fwd 1s linear;
                    }
                    i , span{
                        color: #fff;
                    }
                }
            }
        }
    }
    .tab-content{
        width: 100%;
    }
    .table-responsive{
      
        .table{
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            &::-webkit-scrollbar {
                width: 0px !important;
            }
            &::-webkit-scrollbar-track {
                background-color: transparent !important;
            }
            &::-webkit-scrollbar-thumb {
                background: transparent !important; 
                border-radius: 0px !important;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: transparent !important; 
            }
            tr{
                background-color: #fff;
                box-shadow: 0px 0px 10px rgba($color: #283a5e , $alpha: .1);
                th , td{
                    min-width: 200px !important;
                    text-align: center;
                }
                th , td , p , span {
                    font-size: 15px;
                    font-weight: 500;
                }
                .primary{
                    color: #02a7ea;
                }
                .title{
                    color: #000;
                }
                .data{
                    padding: 10px 15px;
                    border-radius: 5px;
                    width: fit-content;
                    &.red{
                        background-color: #f00;
                    }
                    &.blue{
                        background-color: #02a7ea;
                    }
                    &.yellow{
                        background-color: yellow;
                    }
                    &.green{
                        background-color: rgba($color:  #080 , $alpha: .8);
                    }
                    &.center{
                        text-align: center;
                        margin: auto;
                    }
                }
                .flex-content{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    p{
                        color: #000;
                        margin: 0px 0px 0px 10px;
                    }
                }
            }
        }
    }
}
header{
    width: 100%;
    .owl-header{
        width: 100%;
        .item{
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            padding: 200px 0px;
            z-index: 9;
            .content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                h4{
                    color: #fff;
                    font-size: 15px;
                    font-weight: 700;
                    margin: 0px;
                }
                h3{
                    color: #02a7ea;
                    font-size: 20px;
                    font-weight: 900;
                    margin: 20px 0px;
                }
                p{
                    color: #f0f0f0;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 2.5rem;
                    margin-bottom: 20px;
                }
            }
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: .6);
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
    }
}
.data-time{
    width: 100%;
    padding: 100px 0px 40px 0px;
    .data-content{
        width: 100%;
        padding: 20px 14px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba($color: #283a5e , $alpha: .1);
        display: flex;
        align-items: center;
        align-content: center;
        .arrow-content{
            float: right;
            i{
                font-size: 20px;
                color: #02a7ea;
            }
        }
        p{
            text-align: center;
            color: #000;
            font-size: 15px;
            font-weight: 700;
            line-height: 2.5rem;
            margin: 0px;
            width: 100%;
            span{
                margin: 0px 10px;
            }
        }
    }
}
.sort-data{
    width: 100%;
    .sort-content{
        display: flex;
        align-items: center;
        align-content: center;
        li{
            margin: 0px 0px 0px 10px;
            .dropdown-toggle:after{
                display: none;
            }
            .link{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: 10px 15px;
                border: 1px solid #02a7ea;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .05);
                min-width: 120px;
                i{
                    color: #02a7ea;
                    font-size: 20px;
                }
                span{
                    color: #02a7ea;
                    font-size: 20px;
                    font-weight: 600;
                    margin-right: 10px;
                }
            }
            .dropdown-menu{
                display: block !important;
                opacity: 0;
                visibility: hidden ;
                transform: translateY(100px) !important;
                box-shadow: 0px 0px 10px rgba($color: #02a7ea, $alpha: .24);
                border-radius: 5px !important;
                border: none;
                transition: all .2s linear;
                h4{
                    color: #000000;
                    font-size: 15px;
                    font-weight: 700;
                    margin-bottom: 15px;

                }
                .dropdown-item{
                    color: #000;
                    font-size: 15px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
                &.show
                {
                    opacity: 1 !important;
                    transform: translateY(70px) !important;
                    visibility: visible !important;
                }

            }
            &.car{
                .dropdown-menu{
                    transform: translateY(100px) translateX(-160px) !important;
                    &.show{
                        opacity: 1 !important;
                        transform: translateY(70px) translateX(-160px) !important;
                        visibility: visible !important;
                    }
                }
            }
            &.filter{
                .dropdown-menu{
                    width: 300px !important;
                    padding: 20px 10px;
                    .form-group{
                        margin-bottom: 20px;
                        label{
                            margin-bottom: 15px;
                            span{
                                margin: 0px 5px;
                                font-size: 15px;
                                font-weight: 700;
                               .price{
                                   font-size: 15px;
                                   font-weight: 500;
                                   color: rgba($color: #000000, $alpha: .9);
                               }
                            }
                        }
                    }
                }
            }
            .flex-content{
                display: flex;
                align-items: center;
                align-content: center;
                i{
                    margin: 0px 5px;
                    color: #ddd;
                    font-size: 15px;
                    &.active , &:hover{
                        color: yellow;
                    }
                }
            }
        }
    }
}

.products{
    width: 100%;
    padding: 50px 0px;
    .box{
        width: 100%;
        padding: 20px 10px;
        position: relative;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba($color: #02a7ea , $alpha: .1);
        .btn-content{
            position: absolute;
            top: 20px;
            left: 20px;
        }
        img{
            width: 100px;
            height: 70px;
            object-fit: contain;
            margin-bottom: 20px;
        }
        .head{
            color: #02a7ea;
            font-size: 20px;
            font-weight: 900;
            line-height: 2.5rem;
            margin-bottom: 16px;
        }
        .flex-content{
            display: flex;
            align-items: center;
            align-content: center;
            margin-bottom: 16px;
            margin-right: 5px;
            i{
                margin: 0px 5px;
                color: #ddd;
                font-size: 15px;
                &.active , &:hover{
                    color: yellow;
                }
            }
        }
        .location{
            display: flex;
            align-items: center;
            align-content: center;
            margin-right: 10px;
            i{
                color: #02a7ea;
                font-size: 15px;
                margin-left: 10px;
            }
            span{
                color: #808080;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .flex-data{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            margin: 16px 0px;
            padding: 0px 10px;
            h4{
                color: #283a5e;
                font-size: 20px;
                font-weight: 700;
                margin: 0px;
                display: flex;
                align-items: center;
                align-content: center;
                i{
                    color: #283a5e;
                    font-size: 20px;
                }
                span{
                    margin-right: 10px;
                }
            }
            p{
            
                color: #808080;
                font-size: 16px;
                margin: 0px;
                font-weight: 500;
            }
        }
        
    }
}
.plane-booking{
    width: 100%;
    padding: 120px 0px 50px 0px;
    background-color: #fefefe;
    .data-content{
        width: 100%;
        padding: 20px 10px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba($color: #283a5e , $alpha: .1);
        border-radius: 10px;
        height: 100%;
        h4{
            color: #02a7ea;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p{
            color: #888;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
}